{
    "root": true,
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "plugin:vue/vue3-recommended",
        "eslint:recommended",
        "@vue/typescript/recommended",
        "@vue/prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 2021
    },
    "rules": {
        "object-curly-spacing": "error",
        "@typescript-eslint/object-curly-spacing": "warn",
        "import/prefer-default-export": 0,
        "no-shadow": "off",
        "vue/max-attributes-per-line": [
            "error",
            {
                "singleline": {
                    "max": 1
                },
                "multiline": {
                    "max": 1
                }
            }
        ],
        "@typescript-eslint/no-shadow": [
            "error",
            {
                "ignoreTypeValueShadow": true
            }
        ],
        "max-len": [
            "error",
            {
                "code": 180,
                "ignorePattern": "^import|^export|/.*/[;|,]$|'.*'[;|,]$|`.*`[;|,]$|^\\s*((//|\\*)\\s+)?(.{1,3} )?(https?)://[^ ]+$"
            }
        ],
        "arrow-parens": [2, "as-needed"],
        "no-nested-ternary": "error",
        "prefer-destructuring": [
            "error",
            {
                "array": false
            }
        ],
        "@typescript-eslint/typedef": [
            "error",
            {
                "arrowParameter": true,
                "variableDeclaration": true,
                "call-signature": true,
                "property-declaration": true,
                "variable-declaration": true,
                "member-variable-declaration": true,
                "object-destructuring": true,
                "array-destructuring": true
            }
        ],
        "import/no-cycle": [
            "error",
            {
                "maxDepth": 1,
                "ignoreExternal": true
            }
        ],
        "camelcase": "off",
        "@typescript-eslint/naming-convention": [
            "error",
            {
                "selector": "property",
                "format": [
                    "camelCase",
                    "snake_case",
                    "PascalCase",
                    "UPPER_CASE"
                ]
            }
        ],
        "@typescript-eslint/no-inferrable-types": "off",
        "vue/html-indent": ["error", 4],
        "vue/html-comment-indent": ["error", 4],
        "vue/script-indent": [
            "error",
            4,
            {
                "switchCase": 0
            }
        ],
        "@typescript-eslint/indent": [
            "error",
            4,
            {
                "SwitchCase": 0
            }
        ],
        "indent": ["error", 4]
    }
}
