{
    "bracketSameLine": false,
    "tabWidth": 4,
    "singleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "singleAttributePerLine": true,
    "vueIndentScriptAndStyle": false,
    "endOfLine": "auto",
    "semi": true,
    "trailingComma": "all",
    "importOrder": [
        "^@/@types",
        "^@/@interfaces",
        "^@/plugins",
        "^@/modules",
        "^@/locales",
        "^@/stores",
        "^@/router",
        "^@/utils",
        "^@/mocks",
        "^@/assets",
        "^@/styles",
        "^@/elements",
        "^@/views/(.vue*)$",
        "^[./]"
    ],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true
}
